<div class = "container-fluid aboutusdiv">
  <div class="fixed-top top">
     <img class="aboutus-img" src="/assets/images/aboutus_img.png" alt="">
       <div class="centered title">ABOUT US</div> 
  </div>
  
  <div class="fixed-bottom bottom">
     <div class="left">
        <p class="aboutus text-justify">Fortis Healthcare Limited is a leading integrated healthcare delivery service provider in India.
         The healthcare verticals of the company primarily comprise hospitals, diagnostics and day care specialty facilities.
          Currently, the company operates its healthcare delivery services in India, Dubai, Mauritius and Sri Lanka with 45 healthcare facilities (including projects under development), approximately 10,000 potential beds and 314 diagnostic centres.
         In a global study of the 30 most technologically advanced hospitals in the world, its flagship, the Fortis Memorial Research Institute’ (FMRI), was ranked No.2, by ‘topmastersinhealthcare.com, and placed ahead of many other outstanding medical institutions in the world.
       </p>
     
     </div>
    <div class="right">
       <img class="img-thumbnail center-block rightimage" src="/assets/images/scroll_image1.jpg" alt="">
    
    
    </div>
  
  
  </div>
</div>