<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-head">
                <h1>Basic Doctors Information</h1>
                <hr />
            </div>
            <div class="card-body" id="bar-parent">
                <form  novalidate #f="ngForm" (ngSubmit)="onSubmitDoctor()" id="form_sample_1" class="form-horizontal" >
                    <div class="form-body">

                        <div class="form-group row">
                            <label class="control-label col-md-3">First Name<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)]="newDoctor.firstName" required #firstName="ngModel" name="newDoctor.firstName" data-required="1" placeholder=" First name" class="form-control input-height" />
                                <!-- ngIf will take firstName in firstName.errors from #firstName -->
                                <div *ngIf="firstName.errors?.required && firstName.touched" class="alert alert-danger">
                                        First name is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="control-label col-md-3">Last Name<span class="required"> * </span></label>
                                <div class="col-md-5">
                                    <input type="text" [(ngModel)]="newDoctor.lastName" required  #lastName="ngModel" name="newDoctor.lastName" data-required="1" placeholder=" Last name" class="form-control input-height" />
                                    <div *ngIf="lastName.errors?.required && lastName.touched" class="alert alert-danger">
                                            Last name is required
                                    </div>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="control-label col-md-3">Username<span class="required"> * </span></label>
                                <div class="col-md-5">
                                    <input type="text" [(ngModel)]="newDoctor.username" required #username="ngModel" name="newDoctor.username" data-required="1" placeholder=" Username" class="form-control input-height" /> 
                                    <div *ngIf="username.errors?.required && username.touched" class="alert alert-danger">
                                             Username is required
                                    </div>
                                </div>
                            </div>

                        <!-- need to validation for password and confirm password -->
                        <div class="form-group row">
                                <label class="control-label col-md-3">Password<span class="required"> * </span></label>
                                <div class="col-md-5">
                                    <input type="password" [(ngModel)]="newDoctor.password" minlength="8" #password="ngModel" required name="newDoctor.password" data-required="1" placeholder=" Password" class="form-control input-height" />
                                    <div *ngIf="password.errors?.required && password.touched" class="alert alert-danger">
                                            Password is required
                                    </div>
                                    <div *ngIf="password.errors?.minlength && password.touched" class="alert alert-danger">
                                            Password must contain minimum of 8 characters
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="control-label col-md-3">Re-Type Password<span class="required"> * </span></label>
                                <div class="col-md-5">
                                    <input type="password" [(ngModel)]="newDoctor.retypepassword" minlength="8" #retypepassword="ngModel" required name="newDoctor.retypepassword" validateEqual="password" data-required="1" placeholder=" Re-Type Password" class="form-control input-height" /> 
                                    <div *ngIf="retypepassword.errors?.required && retypepassword.touched" class="alert alert-danger">
                                            Confirm Password is required
                                    </div>
                                    <div *ngIf="retypepassword.errors?.minlength && retypepassword.touched" class="alert alert-danger">
                                            Confirm Password must contain minimum of 8 characters
                                    </div>
                                </div>
                            </div>
                             <!-- need to validation for password and confirm password -->

                             <div class="form-group row">
                                    <label class="control-label col-md-3">Mobile No.<span class="required"> * </span></label>
                                    <div class="col-md-5">
                                        <input [(ngModel)]="newDoctor.contactNumber" #contactNumber="ngModel" name="newDoctor.contactNumber"  required minlength="10" maxlength="10" type="text" placeholder=" Contact number" class="form-control input-height" />
                                        <div *ngIf="contactNumber.errors?.required && contactNumber.touched" class="alert alert-danger">
                                                Contact Number is required
                                        </div>
                                        <div *ngIf="contactNumber.errors?.minlength && contactNumber.touched" class="alert alert-danger">
                                                Contact Number must have 10 digits
                                        </div>
                                    </div>
                                     
                                </div>

                                <div class="form-group row">
                                        <label class="control-label col-md-3">Email<span class="required"> * </span></label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input type="text" [(ngModel)]="newDoctor.email" required pattern="[^ @]*@[^ @]*"
                                                #email="ngModel" name="newDoctor.email" class="form-control input-height"  placeholder=" Email Address"> 
                                            </div>
                                            <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger">
                                                    Email ID is required
                                            </div>
                                            <div *ngIf="email.errors?.pattern" class="alert alert-danger">
                                                    Email must contain at least the @ character and must be of type "abc@gmail.com"
                                            </div>
                                        </div>
                                    </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Address</label>
                            <div class="col-md-5">
                                <textarea [(ngModel)]="newDoctor.address" name="address" placeholder="address" class="form-control-textarea" rows="5" ></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Specialization<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)]="newDoctor.specialization" name="specialization" data-required="1" placeholder=" specilization" class="form-control input-height" /> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Departments<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <select class="form-control input-height" [(ngModel)]="newDoctor.department" name="department">
                                    <option value="">Select...</option>
                                    <option value="Category 1">Neurology</option>
                                    <option value="Category 2">Orthopedics</option>
                                    <option value="Category 3">Gynaecology</option>
                                    <option value="Category 3">Microbiology</option>
                                    <option value="Category 3">Radiotherapy</option>
                                    <option value="Category 3">Pharmacy</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Gender<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <select class="form-control input-height" [(ngModel)]="newDoctor.gender" name="gender">
                                    <option value="">Select...</option>
                                    <option value="Category 1">Male</option>
                                    <option value="Category 2">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Date Of Birth<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input [(ngModel)]="newDoctor.dob" name="dob" class="form-control input-height" size="16" placeholder="date of Birth" type="text" value="">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Upload Picture</label>
                            <div class="compose-editor">
                              <input type="file" [(ngModel)]="newDoctor.img" name="img" class="default" multiple>
                          </div>
                        </div>
                        

                        <div class="form-actions">
                            
                            <div class="row">
                                    <!--<popup  #popup1>
                                            Added New Admin
                                    </popup>-->
                                <div class="offset-md-3 col-md-9">
                                    <br/><br/>
                                    <button type="submit" class="btn btn-info" (click)="ClickButton()" >Submit</button>
                                  <br/><br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


