<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-head">
                <h2>Basic Admin Information</h2>
                <hr />
               
            </div>
            <div class="card-body" id="bar-parent">
                <form (submit) = "onAddAdmin()" id="form_sample_1" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group row">
                            <label class="control-label col-md-3">Username<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)] = "username" name="username" data-required="1" placeholder="enter first name" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">First Name<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)] = "firstname" name="firstname" data-required="1" placeholder="enter first name" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Last Name<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="text" [(ngModel)] = "lastname" name="lastname" data-required="1" placeholder="enter last name" class="form-control input-height" /> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="text" class="form-control input-height" [(ngModel)] = "email" name="email" placeholder="Email Address"> </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Password<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="password" [(ngModel)] = "password" name="password" data-required="1" placeholder="enter Password" class="form-control input-height" /> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Confirm Password<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input type="password" [(ngModel)] = "retypepassword" name="retypepassword" data-required="1" placeholder="Reenter your password" class="form-control input-height" /> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Contact :<span class="required"> * </span></label>
                            <div class="col-md-5">
                                <input [(ngModel)] = "contact" name="contact" type="text" placeholder="contact number" class="form-control input-height" /> 
                            </div>
                        </div>
                       <!--<div class="form-group row">
                            <label class="control-label col-md-3">Address
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <textarea name="address" placeholder="address" class="form-control-textarea" rows="5" ></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Profile Picture
                            </label>
                            <div class="compose-editor">
                              <input type="file" class="default" multiple>
                          </div>
                        </div>-->
  
                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info">Submit</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>