
<!-- <div class='container' *ngIf="toggleAppointmentForm">
	<app-appointment></app-appointment>
</div>
<div class='container'>
	<app-appointment-list></app-appointment-list>
</div>

<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{prescriptionTitle}}	
	</div>
	<div class='panel-body'>
	
	
	</div>
</div> -->

<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-sm-2 sidenav">
			<br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'DASHBOARD'">Home</button>
			<br><br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'MAKEAPPOINTMENT'">Make An Appointment</button>
			<br> <br>

			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'VIEWPROFILE'">View Profile</button>
			<br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'VIEWDOCTORS'">View Doctors</button>
			<br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'SHOWPRESCRIPTIONS'">View Prescription</button>
			<br><br>
		</div>
		<div class="col-sm-8 text-left">
			<br> <br>
			<div class="container-fluid text-center"
				*ngIf="shown === 'MAKEAPPOINTMENT'">
				<app-appointment></app-appointment>
			</div>
			<div class="container-fluid text-center"
				*ngIf="shown === 'VIEWPROFILE'">
				<app-patient-profile></app-patient-profile>
			</div>
			<div class="container-fluid text-center"
				*ngIf="shown === 'VIEWDOCTORS'">
				<app-patient-profile></app-patient-profile>
			</div>
			<div class="container-fluid text-center" *ngIf="shown === 'DASHBOARD'">
				<app-appointment-list></app-appointment-list>
			</div>
			<div class="container-fluid text-center" *ngIf="shown === 'SHOWPRESCRIPTIONS'">
				<app-appointment-list></app-appointment-list>
			</div>
			
			<!-- <div class='panel panel-primary'>
				<div class='panel-heading'>{{prescriptionTitle}}</div>
				<div class='panel-body'><app-appointment-list></app-appointment-list></div>
			</div> -->
		</div>
		<div class="col-sm-2 sidenav">
			<div class="well">
				<p>ADS</p>
			</div>
			<div class="well">
				<p>ADS</p>
			</div>
		</div>
	</div>
</div>