<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Patient</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = 'let prescription of  prescriptions'>
      <td>{{prescription.prescriptionDate}}</td>
      <td>{{prescription.prescriptionTime}}</td>
      <td>{{prescription.patientFName}}</td>
      <td>{{prescription.doctorFName}}</td>
      <!--<td>Doctor1</td>-->
      <td> 
        <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#prescriptionModal" (click)=getPrescriptionDetails(prescription)> View Prescription</button>
        <button class="btn btn-info btn-lg editbtn" *ngIf = 'loginBy == "doctor"'> Edit</button> 
      </td>
    </tr>
    
    <!--modal section-->
    <div class = "modal" id = "prescriptionModal" tabindex="-1" *ngIf='selectedPrescription !== undefined'>
      <div class = "modal-dialog">

        <!--modal content-->
        <div class = "modal-content">
          <div class = "modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Prescription</h4><hr/>
            <div class="row">
                <div class="col-sm-4 pull-left">
                  <p>Patient Name: {{selectedPrescription.patientFName}}</p>
                  <p>Age:12</p>
                  <p>Gender:Male</p>
                </div>
                <div class="col-sm-4 pull-right">
                  <p>Doctor Name: {{selectedPrescription.doctorFName}}</p>
                  <p>Date: {{selectedPrescription.prescriptionDate}}</p>
                  <p>Time: {{selectedPrescription.prescriptionTime}}</p>
                </div>
              </div>
          </div>

          <!--modal body section-->
          <div class="modal-body">
            <div class="row">
              <div class = "col-sm-2">
                <p>Medication</p>
              </div>
              <div class = "col-sm-8">
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="500" name="prescriptionListMedication">
                  {{selectedPrescription.medication}}
               </textarea>
              </div>
            </div>
          </div>

          <!--modal footer section-->
          <div class = "modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




   
           