<div class="container-fluid regdiv">
	<form (submit) = "onRegisterSubmit()" class="registerform center-block">
		 <h2 class="headertext">Patient Registration Form</h2><br/>
		 <hr/><br/>
		    <div class="input-container ">
    			<table class="formtable center-block">
    			    <tr>
    				 <td class="basicinfo">
    				    Basic Information
    				 </td>
    				</tr>			    
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">First Name :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text" placeholder=" First Name" [(ngModel)] = "firstname" name="firstname">
    				 </td>
    				  <td class="label-class">
    				    <label class="labeltext">Last Name :</label>
    				 </td>
    				  <td class="field-class">
    				    <input class="input-field " type="text" placeholder=" Last Name" [(ngModel)] = "lastname" name="lastname">
    				 </td>		    					
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">User Name :</label>
    				 </td>
    				 <td class="field-class">
    				    <input class="input-field " type="text" placeholder=" Username" [(ngModel)] = "username" name="username">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">Email ID :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder=" Email ID" [(ngModel)] = "email" name="email">  
    				 </td>	 
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">Password :</label>
    				 </td>
    				 <td class="field-class">
    				    <input class="input-field " type="text" placeholder=" Password" [(ngModel)] = "password" name="password">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">Re-Type Password :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder=" Re-Type Password" [(ngModel)] = "retypepassword" name="retypepassword">  
    				 </td>	 
    				</tr>
    				
    				<tr>
    
    				 <td class="label-class">
    				 	 <label class="labeltext">Contact :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder="Contact" [(ngModel)] = "contact" name="contact">  
    				 </td>	 
    				</tr>
    				
    				
    				
    				<!-- 
    				<tr>
    				 <td class="address">
    				    Address Information
    				 </td>
    				</tr>
    				
    				
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">Street Address :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="1234 Main St" name="streetAddress">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">Address line 2 :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder="Apartment #" name="addressLine2">  
    				 </td>	 
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">City :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="city" name="city">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">State</label>
    				 </td>
    				 <td class="field-class">
    				       <select id="inputState" class="input-field">
   						       <option selected>Choose...</option>
                                  <option>...</option>
  						    </select>  
    				 </td>	 
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				 	 <label class="labeltext">Zip :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder="Zip" name="zip">  
    				 </td>	 
    				 <td class="label-class">
    				   <label class="labeltext">Country :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="Country" name="country">
    				 </td>
    				
    				</tr>
    				<tr>
    				 <td class="address">
    				    Personal Information
    				 </td>
    				</tr>
    				 <tr>
						<td class="label-class">
						   <label class="labeltext">Gender :</label>
						</td> 
						<td class="field-class">
						   <select class="input-field gender">
                       		 <option>Female</option>
                        	 <option>Male</option>
                      	  </select> 
						</td> 
					 <td class="label-class">
    				   <label class="labeltext">DOB :</label>
    				 </td>
    				 <td class="field-class">
    				    <input class="input-field" type="date" placeholder="Date of Birth" name="dateOfBirth">
    				 </td>  				
    				</tr>
    				
    				 <tr>
    				 <td class="label-class">
    				   <label class="labeltext">Social Security Number<br/>(last 4 digits only) :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text" placeholder="SSN" name="ssn">
    				 </td>
    				  <td class="label-class">
    				    <label class="labeltext">Communication Preference :</label>
    				 </td>
    				  <td class="field-class">
    				    <select class="input-field" >
    				       <option> Email</option>
    				       <option>Phone</option>
    				       <option>Postal</option>
    				    </select>
    				  </td>		    					
    				</tr>
    				  
    				<tr>
    				  <td class="label-class">
    				    <label class="labeltext"> Race:</label>			   
    				  </td>
    				  <td >  
    				   	<select class="input-field" >
    				       <option> American Indian or Alaska Native</option>
    				       <option> Asian</option>
    				       <option> Hispanic</option>
    				        <option> White</option>
    				         <option> Black or African American</option>
    				     </select>
    				   </td>
    				   <td class="label-class">
    				     <label class="labeltext"> Ethnicity:</label>			   
    				    </td>
    				    <td >  
    				      <select class="input-field" >
    				        <option> Hispanic or Latino</option>
    				        <option> Native Hawaiian or Pacific Islander</option>
    				        <option> Not Hispanic or Latino</option>
    				      </select>
    				    </td>
    				   </tr>
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext"> Marital Status:</label>			   
    				 </td>
    				 <td >  
    				   	<select class="input-field" >
    				       <option> Married</option>
    				       <option> Single</option>
    				       <option> Divorced</option>
    				        <option> Widowed</option>
    				         <option> Legally separated</option>
    				    </select>			   
                      
    				 </td>		
    				 
    				 <td class="label-class">
    				    <label class="labeltext">Age :</label>
    				 </td>
    				  <td class="field-class">
    				    <input class="input-field " type="text" placeholder=" Age " name="age">
    				 </td>		
    				</tr>		
    				<tr>
    				 <td class="address">
    				    Insurance Details
    				 </td>
    				</tr>
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">Insurance Company Name :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text" placeholder="Company Name" name="insuranceCompanyName">
    				 </td>
    				  <td class="label-class">
    				    <label class="labeltext">Insurance Company Phone Number :</label>
    				 </td>
    				  <td class="field-class">
    				    <input class="input-field " type="text" placeholder="Phone Number" name="insuranceCompanyPhoneNumber">
    				 </td>		    					
    				</tr>
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext"> Street Address :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="1234 Main St" name="insuranceCompanyStreetAddress">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">Address line 2 :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder="Apartment #" name="insuranceAddressCompanyAddressLine2">  
    				 </td>	 
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">City :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="city" name="insuranceCompanyCity">
    				 </td>
    				 <td class="label-class">
    				 	 <label class="labeltext">State</label>
    				 </td>
    				 <td class="field-class">
    				       <select id="inputState" class="input-field">
   						       <option selected>Choose...</option>
                                  <option>...</option>
  						    </select>  
    				 </td>	 
    				</tr>
    				
    				<tr>
    				 <td class="label-class">
    				 	 <label class="labeltext">Zip :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field " type="text" placeholder="Zip" name="insuranceCompanyZip">  
    				 </td>	 
    				 <td class="label-class">
    				   <label class="labeltext">Country :</label>
    				 </td>
    				 <td class="field-class">
    				     <input class="input-field" type="text" placeholder="Country" name="insuranceCompanyCountry">
    				 </td>
    				 </tr>
    				 
    				 <tr>
    				 <td class="label-class">
    				   <label class="labeltext">Insured's Name :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text" placeholder=" First Name" name="insuredFirstName">
    				 </td>
    				  <td class="field-class" >
    				    <input class="input-field " type="text" placeholder=" Last Name" name="insuredLastName">
    				 </td>		    					
    				</tr>
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">Identification Number :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text"  name="insuredIdNumber">
    				 </td>
    				 <td class="label-class">
    				   <label class="labeltext">Group Number :</label>
    				 </td>
    				  <td class="field-class" >
    				    <input class="input-field " type="text" name="groupNumber">
    				 </td>		    					
    				</tr>
    				<tr>
    				 <td class="label-class">
    				   <label class="labeltext">Insured's Date of Birth :</label>
    				 </td>
    				 <td class="field-class">
    				    <input class="input-field" type="date" placeholder="Date of Birth" name="insuredDateOfBirth">
    				 </td> 
    				 <td class="label-class">
    				   <label class="labeltext">Patient's relation to Insured :</label>
    				 </td>
    				  <td class="field-class">
    			       <input class="input-field " type="text" placeholder="Relation name" name="patientRelation">
    				 </td>
    				</tr>
    				 -->
    			</table>
    			
  			</div>
  			<br/><br/>
  			  <button type="submit" class="btn btn-primary " >Submit</button>
      				
	</form>
</div>
