<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-sm-2 sidenav">
			<br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'ADDPATIENT'">Add Patients</button>
            <br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'VIEWPATIENT'">View Patients</button>
            <br> <br>
            <button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'ADDPPOINTMENT'">Add Appointments</button>
            <br> <br>
            <button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'VIEWAPPOINTMENT'">View Appointments</button>
			<br> <br>
			<button type="button" name="button" class="btn btn-primary"
				(click)="shown = 'PROFILE'">My Profile</button>
            <br> <br>
        </div>

        <div class="col-sm-8 text-left">
			
			<div class="container-fluid text-center"
				*ngIf="shown === 'ADDPATIENT'">
				<app-add-patients></app-add-patients>
            </div>
           
			<div class="container-fluid text-center"
				*ngIf="shown === 'VIEWPATIENT'">
				<app-view-patients></app-view-patients>
            </div>
           
            <div class="container-fluid text-center"
				*ngIf="shown === 'ADDPPOINTMENT'">
				<app-appointment></app-appointment>
            </div>
            
			<div class="container-fluid text-center"
				*ngIf="shown === 'VIEWAPPOINTMENT'">
				<app-appointment-list></app-appointment-list>
			</div>
			<div class="container-fluid text-center"
				*ngIf="shown === 'PROFILE'">
				<app-profile></app-profile>
            </div>
        </div>

        <div class="col-sm-2 sidenav">
			<div class="well">
				<p>ADS</p>
			</div>
			<div class="well">
				<p>ADS</p>
			</div>
        </div>
    </div>
</div>