<div class = "container-fluid navmiddle" >
    <div class="row show-hide-message" *ngIf="failMessage">
        <div class="alert alert-danger">{{failMessage}} &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://localhost:4200/resend">Click here to resend activation link.</a>
        </div>
      </div>
  <div class = "left ">
      <h1 class=" wow bounceInDown animated imgtext  "> We Care For You..!</h1>
      <br/>
      <p class="wow bounceInUp animated imgpara">Home Health Care for Seniors.We'll treat you with the best of our care.</p>
  </div>
  
  <div class = "right">
    <div class="account-wall">
              <img class="profile-img center-block" src="/assets/images/login1.jpg" alt="">
              <form class="form-signin" (submit)="onLoginSubmit()">
                <input type="text" [(ngModel)]="username" name = "username" class="form-control" placeholder="Username" required autofocus><br />
                <input type="password" [(ngModel)] = "password" name="password" class="form-control" placeholder="Password" required><br/>
                
                <br/><br/><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a routerLink="/forgotPassword" class="pull-right forgot-password">Forgot Password </a><span class="clearfix"></span>
              </form>
          </div>
  </div>
</div>
