<div class="container-fluid">
  <form #frm="ngForm" (ngSubmit)="savePrescription(frm)" >
    <h2> Add Prescription</h2><hr/>
    <div class="row show-hide-message" *ngIf="successMessage">
        <div class="alert alert-success">{{successMessage}}</div>
    </div>
    <div class="row show-hide-message" *ngIf="failMessage">
      <div class="alert alert-danger">{{failMessage}}</div>
    </div>
     <div class="form-group row">
        <div class="col-sm-2">
            <label>Date</label>
        </div>
        <div class="col-sm-4">
            <input class="input-field" type="date" placeholder="Date" [(ngModel)]="prescriptionDate" name="prescriptionDate">
        </div>
        <div class="col-sm-3">
            <label>Time</label>
        </div>
        <div class="col-sm-2">
            <input class="input-field"  type="time" placeholder="Time" [(ngModel)]="prescriptionTime" name="prescriptionTime" >
        </div>
      </div> <br>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Patient</label>
        </div>
        <div class="col-sm-4">
          <input class="input-field"  type="text" [(ngModel)]="patientName" name="patientName" (keyup)=getPatientNames()>
        </div>
        <div class="suggestions" *ngIf="patientList.length > 0">
            <table >
              <tr *ngFor="let patient of patientList">
                <td><a (click)="getSelectedPatient(patient)">{{patient.firstName}}</a></td>
              </tr>
            </table>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <label> Medication</label>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" cols="500" [(ngModel)]="medication" name="medication"></textarea>
        </div>
      </div>
      <div class="form-group pull-middle">
          <button type="submit" class="btn btn-success">Save</button>
      </div>

              
  </form>

</div>