li{
	color:#0c3966;
   font-size:20px;
   text-align:center;
   padding:15px 5px;
   float:left;	
}

li a{
   color:#0c3966;
   font-weight: bold; 
 }
   
li a:hover{
   border-radius:50%;
   color:white;
   background:#061c33;
}

.logoimg{
   height:70px;
}


flash-messages{
  text-align: center;
}
  