<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{appointmentTitle}}	
	</div>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-2'>Filter By:</div>
			<div class='col-md-4'><input type='text'/></div>
		</div>	
		<div class='row'>
			<div class='col-md-6'><h3>Filtered By: </h3></div>
		</div>
		<div class='table-responsive'>
			<table class='table'>
				<thead>
					<tr>
						<th>Appointment Type</th>
						<th>Doctor</th>
						<th>Date</th>
						<th>Time</th>
						<th>Description</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor ='let appointment of filteredAppointments'>
						<td>{{appointment.appointmentType}}</td>
						<td>{{appointment.doctorName}}</td>
						<td>{{appointment.appointDate}}</td>
						<td>{{appointment.appointTime}}</td>
						<td>{{appointment.appointMessage}}</td>
						<td>{{appointment.appointStatus}}</td>
						<td><button type="button" name="button" class="btn btn-primary" (click) = "showEditForm(appointment)" [disabled] = "toggleEditForm">Edit</button></td>
						<td><button type="button" name="button" class="btn btn-danger" (click)= "removeAppointment(appointment._id)">Delete</button></td>	
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<form class="form-inline" #frm="ngForm" (ngSubmit)="editAppointment(frm)"
				*ngIf="toggleEditForm">
				<div class="form-group">
					<div class="form-group">
						<label for="">Appointment Type:</label><br><input type="text" class="form-control"
							name="appointmentType" value="" [ngModel]="selectedAppointment.appointmentType">
					</div><br>
					<div class="form-group">
						<label for="">Doctor Name:</label> <br><input type="text"
							class="form-control" name="doctorName" value=""
							[ngModel]="selectedAppointment.doctorName" />
					</div><br>
					<div class="form-group">
						<label for="">Appointment Date:</label><br> <input type="text"
							class="form-control" name="appointDate" value=""
							[ngModel]="selectedAppointment.appointDate" />
					</div><br>
					<div class="form-group">
						<label for="">Appointment Time:</label> <br><input type="text"
							class="form-control" name="appointTime" value=""
							[ngModel]="selectedAppointment.appointTime" />
					</div><br>
					<div class="form-group">
						<label for="">Message:</label> <br><input type="text"
							class="form-control" name="appointMessage" value=""
							[ngModel]="selectedAppointment.appointMessage" />
					</div><br><br />
					<div class="form-group" *ngIf="user === 'doctor'">
						<label for="">Appointment Status:</label><br /> 
						<select [(ngModel)]="selectedAppointment.appointStatus" class="form-control" name="appointStatus" value="">
							<option value="">Select...</option>
                            <option value="Accepted">Accept</option>
							<option value="Rejected">Reject</option>
							<option value="Open">Open</option>
							<option value="Close">Close</option>
						</select>
					</div><br><br /><br />
					<button type="submit" name="button" class="btn btn-success">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="submit" name="button" class="btn btn-primary" (click) = "showEditForm(appointment)" >Cancel</button>
				</div>
			</form>
		</div>

	</div>
</div>
